# --- Java ---
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.iml

# --- Maven ---
/target/
!.mvn/wrapper/maven-wrapper.jar

# --- Gradle ---
/build/
/.gradle/
!gradle/wrapper/gradle-wrapper.jar

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.project
.classpath
.csettings
.settings/
.metadata/
bin/

# NetBeans
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# --- Sistema operativo ---
.DS_Store        # macOS
Thumbs.db        # Windows
ehthumbs.db      # Windows
desktop.ini      # Windows

# --- Logs ---
*.log
logs/
*.out

# --- Archivos de entorno/local ---
.env
*.env
# /src/main/resources/application.properties
application.yml
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml