<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%t] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </Console>
        <!-- <File name="UserFile" fileName="logs/user.log" append="true">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </File>
        <File name="AppFile" fileName="logs/app.log" append="false">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %logger{36} - %msg%n" charset="UTF-8"/>
        </File> -->
    </Appenders>
    <Loggers>
        <!-- <Logger name="com.alonso.eatelligence.controller" level="info" additivity="true">
            <AppenderRef ref="UserFile"/>
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="com.alonso.eatelligence.security.RestauranteAccessFilter" level="debug" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger>        
        
        <Logger name="org.springframework.security" level="debug" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="org.springframework.web" level="debug" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="org.thymeleaf" level="error" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger>
        
        <Logger name="nz.net.ultraq.thymeleaf" level="error" additivity="false">
            <AppenderRef ref="AppFile"/>
            <AppenderRef ref="Console"/>
        </Logger> -->
        
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AppFile"/>
        </Root>
    </Loggers>
</Configuration>