.alergeno-gluten {
    background-color: #f94144;
}
.alergeno-crustáceos {
    background-color: #f3722c;
}
.alergeno-huevos {
    background-color: #f9c74f;
}
.alergeno-pescado {
    background-color: #90be6d;
}
.alergeno-cacahuetes {
    background-color: #43aa8b;
}
.alergeno-soja {
    background-color: #577590;
}
.alergeno-lácteos {
    background-color: #277da1;
}
.alergeno-frutos-de-cáscara {
    background-color: #9b5de5;
}
.alergeno-apio {
    background-color: #f15bb5;
}
.alergeno-mostaza {
    background-color: #fee440;
    color: #000;
}
.alergeno-sésamo {
    background-color: #00bbf9;
}
.alergeno-sulfitos {
    background-color: #00f5d4;
    color: #000;
}
.alergeno-altramuces {
    background-color: #ff006e;
}
.alergeno-moluscos {
    background-color: #8338ec;
}
