:root {
  --color-principal: #abc294;
  --color-secundario: #1d6448;
}

body {
  background-color: #f8f9fa;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 900px;
}

.card {
  border-radius: 1rem;
  background-color: #ffffff;
}

.card h2 {
  font-weight: 600;
}

.card .form-label {
  font-weight: 500;
}

.card .form-control:focus {
  border-color: var(--color-principal);
  box-shadow: 0 0 0 0.2rem rgba(171, 194, 148, 0.25);
}

.btn-success {
  background-color: var(--color-principal);
  border-color: var(--color-principal);
}

.btn-success:hover {
  background-color: #174f39 !important;
  border-color: #174f39 !important;
}

.btn-success:focus {
  border-color: var(--color-principal);
  background-color: var(--color-secundario);
  box-shadow: 0 0 0 0.2rem rgba(171, 194, 148, 0.25);
}

label {
  color: var(--color-secundario);
  font-weight: 600;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.is-invalid:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}