<!doctype html>
<html lang="es">
<head th:replace="~{fragments/home/head :: commonHead('Eatelligence | Tu Plataforma de Comida Inteligente')}"></head>
<body
  th:with="direccionId=${session.usuario != null} ? ${session.direccionEnvioId} : null"
  th:attrappend="data-direccion-id=${direccionId}">

    <header th:replace="~{fragments/home/header :: header}"></header>
    <main th:replace="~{fragments/home/main :: main}"></main>
    <script th:replace="~{fragments/home/scripts ::scripts}"></script>
</body>
</html>
