<header th:fragment="header">
  <nav class="d-flex navbar navbar-expand-lg navbar-light header-nav">
    <a class="navbar-brand" th:href="@{/}" tabindex="-1">
      <img th:src="@{/img/logo.png}" alt="Logo de Eatelligence" height="80">
    </a>

    <div class="ms-auto cesta-wrapper">
      <div th:if="${session.usuario != null}"
           role="button" tabindex="0"
           class="cesta-container mt-1 mx-3 d-flex align-items-center justify-content-center position-relative flex-shrink-0"
           data-bs-toggle="offcanvas"
           data-bs-target="#cestaOffcanvas"
           aria-controls="cestaOffcanvas">
        <i class="bi bi-basket fs-4"></i>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning">
          0
          <span class="visually-hidden">artículos en la cesta</span>
        </span>
      </div>
    </div>
    
    
    <button class="navbar-toggler border-0 me-2 justify-self-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarNav">
      <div class="d-flex align-items-center mt-1">
        <div th:if="${session.usuario != null}" class="puntos-container flex-shrink-0">
          <img th:src="@{/img/coin.png}" alt="Puntos" height="41" width="61" class="me-1">
          <span th:text="${session.usuario.puntos}" class="ms-1 fs-4 fw-bold"></span>
        </div>
      </div>      
      <ul class="navbar-nav me-3">
        <li class="nav-item dropdown" th:if="${session.usuario != null}">
          <a class="nav-link dropdown-toggle d-flex align-items-center rounded fs-5 profile-toggle"
             href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-fill me-2"></i> Mi Cuenta
          </a>
          
          <ul class="dropdown-menu dropdown-menu-end p-0 w-auto" aria-labelledby="profileDropdown">
            <th:block th:if="${session.opcionesMenu != null and session.opcionesMenu['Mi Cuenta'] != null}">
              <li th:each="opcion, stat : ${session.opcionesMenu['Mi Cuenta']}">
        
                <form th:if="${opcion.url == '/logout'}"
                      th:action="@{/logout}" method="post" class="w-100">
                  <div th:replace="~{fragments/csrf :: csrf-fields}"></div>
                  <button type="submit"
                          th:class="'dropdown-item d-flex align-items-center fs-5 fw-semibold ' +
                                    (stat.first ? 'rounded-top ' : '') +
                                    (stat.last ? 'rounded-bottom ' : '') +
                                    ${#strings.substring(opcion.url, 1)} + '-link'">
                    <i class="bi bi-box-arrow-right me-2"></i>
                    <span th:text="${opcion.nombre}"></span>
                  </button>
                </form>
        
                <a th:if="${opcion.url != '/logout'}"
                   th:href="@{${opcion.url}}"
                   th:class="'dropdown-item d-flex align-items-center fs-5 fw-semibold ' +
                             (stat.first ? 'rounded-top ' : '') +
                             (stat.last ? 'rounded-bottom ' : '') +
                             ${#strings.substring(opcion.url, 1)} + '-link'">
                             <i th:class="${'bi me-2 ' + 
                             (opcion.url == '/settings' ? 'bi-gear' : 
                              opcion.url == '/order-history' ? 'bi-clock-history' :
                              opcion.url == '/admin' ? 'bi-sliders' : 
                              opcion.url == '/routes' ? 'bi-truck' : 
                              opcion.url == '/orders' ? 'bi-receipt' : 
                              'bi-link')}"></i>
                  <span th:text="${opcion.nombre}"></span>
                </a>
              </li>
            </th:block>
          </ul>
        </li>

        <!-- Usuario NO logueado -->
        <li class="nav-item" th:unless="${session.usuario != null}">
          <a class="nav-link ps-2 fs-5 d-flex align-items-center gap-2" th:href="@{/register}">
            <i class="bi bi-person-plus"></i> Registrarse
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>